body{
	text-align: center;
}

#label{
	font-size: 30px;
	font-weight: bold;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

#dplayer{
  max-width: 800px;
  max-height: 450px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
}