@import url(http://fonts.googleapis.com/css?family=Inconsolata:400);
@import url(http://fonts.googleapis.com/css?family=Karla:400);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400);
/* line 1, ../../_sass/reset.scss */


/* line 3, ../../_sass/404.scss */
body {
  display: table;
  margin: 0;
  padding: 0;
  width: 1000px;
  height: 1000px;
}

/* line 11, ../../_sass/404.scss */
body {
  position: relative;

  background-repeat: repeat-x, repeat;
  background-position: 0 0%;
  background-attachment: fixed;
  font-size: 21px;
  font-family: "微软雅黑", "Lucida Console", Monaco, Courier, monospace;
  font-smooth: never;
  line-height: 2em;
  color: #000000;
  -webkit-font-smoothing: none;
  
  
}
/* line 26, ../../_sass/404.scss */
body #holder {
  width: 800px;
  margin: 50px 100px;
}


body #story1,
body #story {
  padding: 10px 0 10px;
  width: 800px;
  white-space: pre;
  line-height: 1.25em;
}


body #story1:after {
  content: '|';
  
  -webkit-animation: blink 0.8s infinite;
  -moz-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
}


@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

body #kick {
  text-shadow: none;
  margin: 10px;
}

body #kick a {
  background-color: #d4f8e3;
  color: #1d2b2a;
}


.content {
  position: fixed;
  width: 700px;
  left: 100px;
  bottom:0px; 
}


.pas{

  width: 60px;

  height: 60px;
}

@-moz-keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@-webkit-keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@keyframes skip {
  to {
    background-position: 0 100%;
  }
}
@-moz-keyframes flicker {
  to {
    color: #bddeca;
  }
}
@-webkit-keyframes flicker {
  to {
    color: #bddeca;
  }
}
@keyframes flicker {
  to {
    color: #bddeca;
  }
}
@-moz-keyframes ready {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes ready {
  to {
    visibility: hidden;
  }
}
@keyframes ready {
  to {
    visibility: hidden;
  }
}
@media screen and (max-width: 400px) {
  
  #not-found body {
    font-size: 18px;
  }
}


